@charset "utf-8";

body, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, dl, dd, hr, button {
    margin: 0;
    padding: 0;
}

body, h1, h2, h3, h4, h5, h6, pre, span {
    font: 14px/1.231 "微软雅黑",arial,"宋体",sans-serif normal;
}

/* 修改 bootstrap的样式 */
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover,
.navbar .nav > li > ul > li > a:focus,
.navbar .nav > li > ul > li > a:hover, {
	color: #f09;
	text-decoration: none;
	background-color: #fff;
	border-color: #000;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #fff;
}

.dropdown-menu li > a {
	color: #333333;
}

a{
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #f09;
	text-decoration: none;
}

.gray {
	color: #989898;
}

.bg-gray {
	background-color: #E5E5E5;
}

.green {
	color: #99CC33;
}

.bg-green {
	background-color: #99CC33;
}

.bg-pink {
	background-color: #FFE9F7;
}

.fs8 {
	font-size: 8px;
}

.fs14 {
	font-size: 14px;
}

.fs16 {
	font-size: 16px;
}

.fs22 {
	font-size: 22px;
}

.fs26 {
	font-size: 26px;
}

#footer {
	background-color: #f4f4f4;
}

/* 设置主播标签的格式 */
.zhubo_tag {
	background-color: #99CC33;
	color: #ffffff;
  	font-size: 24px;
  	line-height: 50px;
  	border-radius: 3px;
	text-align: center;
	display: block;
  	width: 100%;
	float: right;
}

/*img:hover{border:#000000 1px solid;}*/

.t-reco .pre {
	background-position: 0 -390px;
	top: -13px;
}
.t-reco .btn-co {
	position: absolute;
	left: 43px;
	width: 120px;
	height: 26px;
	cursor: pointer;
}

.huanyihuan a {background:url(/images/index01-huan.gif) no-repeat;}
.huanyihuan a:hover {background:url(/images/index01-huan-on.gif) no-repeat;}
