@charset "utf-8";

.list_content
{
	width: 515px;
	height:346px;
	border:0px solid #d7d9d9;
	margin: 0 auto;
}
.list_con
{
	margin: 0 auto;
	width: 515px;
}

.list_con_list
{
	margin: 0px auto;
	width: 515px;
}

.list_con_titlebar
{
	padding:1px 0 3px 4px;
}

.list_con_titlebar_left
{
	float: left;
	width: 510px;
	margin-top: 0px;
}
.list_c_t1
{
	font-size: 30px;
	color: #F6849B;
	margin-right: 20px;
}
.list_t_span
{
	margin: 0 5px;
}
.list_t_span a
{
	color:#70e1ff;
	vertical-align: -3px;
}
.list_t_ad {
	display: inline-block;
	float: right;
	margin-right: 25px;
}
.type_cur a
{
	color: #999;
}

.category_tag_div
{
  padding-top: 2px;
}

.new_peo_div {
    padding: 0 5px 5px 3px;
}

.new_peo_tag span {
    font-size: 16px;
    padding: 1px 8px;
}

.hit a {
	font-weight:bold;
}

