@charset "utf-8";

.list_content
{
	width: 100%;height:700px;
	border-top:1px solid #d7d9d9;
}
.list_con
{
	margin: 0 auto;
	width: 1240px;
}
.list_con_titlebar
{
	padding:30px 0 30px 31px;
}
.list_con_titlebar b
{
	background: url('../images/new_image/list_img_list.png') 0px 0px #FFF;
	display: inline-block;
	width: 3px;
	height: 18px;
	cursor: pointer;
	vertical-align: -3px;
}
.list_c_t1
{
	font-size: 30px;
	color: #F6849B;
	margin-right: 20px;
}


.new_peo_div {
	padding: 0 15px 0 31px;
}
.list_t_span
{
	margin: 0 9px;
}
.list_t_span a
{
	color:#70e1ff;
}
.list_t_ad {
	display: inline-block;
	text-align: right;
	width: 700px;
}
.type_cur a
{
	color: #999;
}

.list_con_pageindex
{
	text-align: center;
	padding: 20px 0 0 31px;
}
.list_pagenum
{
	color:#666;
	display: inline-block;
	width: 51px;
	height: 51px;
	line-height: 51px;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
}
.page_cur
{
	color:#fffefe;
	background-color:#ff4b70;
}
.list_pagenext
{
	background: url('../images/new_image/list_img_list.png') 0px -21px #FFF;
	display: inline-block;
	width: 18px;
	height: 18px;
	cursor:pointer;
}
.page_cur a
{
	color:#fffefe;
}
.page_cur a:hover
{
	color:#fffefe;
}
.list_pagenum_hover
{
	line-height:49px;
}
.list_pagenum_hover a:hover
{
	border: 1px solid #FF4B70;
	display:block;
}