@charset "utf-8";
html{color:#333;background:#FFF;direction:ltr;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
em{font-style:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
html {
    _background: url(about:blank) no-repeat fixed;
    /* 这样IE6下模拟fixed定位时就不会闪动了。。。 */
}
body {font-size: 12px;font-family:Tahoma,Arial,\5b8b\4f53;-webkit-text-size-adjust:none;line-height:1.5;}
.clear{ zoom:1;clear:both}
.clear:after{ display:block;content:"\0020";overflow:hidden;height:0; clear:both}
a {text-decoration:none;}
a:hover{text-decoration:underline;}
.fcw{color:#fff;}
a.fcw:hover{color:#fff;}
.ftu{text-decoration:underline;}
.ftu:hover{text-decoration:none; }
.ftn{text-decoration:none;}
.ftn:hover{text-decoration:underline;}
.fwb{font-weight:700;} 
.fcql{color:#66ffff;}
.fcsl{color:#3fb0bc;}
.fch{color:#666666;}
.fcqh{color:#d7d7d7;}
.g_fl{float:left;}
.g_fr{float:right;}
/*header bar*/
.site-nav{width:978px;margin:5px auto 0;}
.site-nav h1{float:left;}
.site-nav h1 a{display:block;width:280px;height:72px;background:url(../images/new-logo.png) no-repeat;overflow:hidden;text-indent:-9999em;}
.site-nav .user-count{float:right;padding:6px 0 0 0;width:688px;}
.site-nav .user-online-info{float:left;padding:13px 0 0 30px;}
.site-nav .user-online-info li{float:left;padding:0 12px 0 0;width:90px;text-align:center;color:#424542;line-height:24px;}
.site-nav .h-ad{float:right;width:240px;height:62px;border:1px solid #e8e8e8;text-align:center;background-color:#F4F4F4;}
.site-nav .user-online-info li em{font:17px Tahoma;color:#39c8d7;letter-spacing:1px;}
/*footer*/
.t-footer{padding:26px 0;margin:10px 0 0 0;border:1px solid #f8f8f8;background-color:#f4f4f4;}
.foot-box{width:978px;margin:0 auto;}
.foot-box .t-links{float:left;}
.foot-box .t-links dl{float:left;padding:0 0 0 36px;line-height:20px;}
.foot-box .t-links dt{font-weight:bold;color:#666;}
.foot-box .t-links dd a{display:block;color:#999;}
.foot-box .t-links dd{float:left;width:105px;padding:0 10px 0 0;}
.foot-box .t-copy{float:right;width:180px;padding:26px 32px 0 0;text-align:right;}
.t-share a img{width:34px;height:34px;background:url(../images/index_main_bg.png) no-repeat;}
.t-share a img.i-sinawb{background-position:0 -202px;}
.t-share a img.i-txwb{background-position:-41px -202px;}
.t-copy p{color:#999;line-height:18px;padding:10px 0 0 0;}
/*mini footer*/
.mini-footer-box{border-top:1px solid #ebebeb;margin:30px 0 0 0;padding:10px 0;}
.mini-footer-box p{text-align:center;color:#999;line-height:18px;}
.mini-footer-box p .txt{display:inline-block;text-align:right;}
.mini-footer-box .t-share{display:inline-block;position:relative;top:4px;padding:0 0 0 18px;}
/* 回到顶部 */
 #returnTop {_display:none;position:fixed;_position:absolute;z-index:999;right:30px;bottom:-200px;_bottom:auto;width:36px;height:65px;text-indent:-999px;overflow:hidden;background-image:url(../images/Top.png);_background-image:url(../images/Top.png);background-repeat:no-repeat;background-position:0 0;transition:bottom 0.9s;-webkit-transition:bottom 0.9s;-moz-transition:bottom 0.9s;-o-transition:bottom 0.9s;}
#returnTop:hover {background-position:0 -65px;}