@charset "utf-8";
body {
	margin: 2px 3px 3px 2px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #344B50;
	background-color: #FFF;
}
a {
	color: #344B50;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img {
	border: 0;
}
.clear { 
	clear: both;
}
.button {
	height: 25px;
	background: url(../images/button_bg.gif) repeat-x;
	border: #8FB9D0 1px solid;
	color: #295568;
	cursor: pointer;
}
.checkbox{
	vertical-align:middle;
	margin-top:0;
}
#menu {
	height: 24px;
	background-color: #353C44;
	color: #E1E2E3;
}
#menu a {
	color: #E1E2E3;
}
#menu .navbar {
	float: left;
	margin: 4px 0 0 10px;
	padding: 0 0 0 20px;
	width: 300px;
	height: 15px;
}
#menu .ctrlbar {
	float: right;
	margin: 4px 0 0 0;
	padding: 0 30px 0 0px;
	width: 300px;
	height: 20px;
	text-align: right;
}
.dataarea {
	margin: 3px 0 10px 0;
}
.dataarea table {
	border-collapse:collapse;
}
.dataarea td, .dataarea th {
	border: #A8C7CE solid 1px;
	padding:3px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
.dataarea th {
	background-color: #B9DBE2;
}
.dataarea .left {
	text-align: left;
}
.dataarea .right {
	text-align: right;
}
.actionbar {
	margin: 10px 5px 5px 5px;
}
.pagenav {
	margin: 0 10px 0 10px;
	text-align: right;
}